# ------------------------
# Node.js (server/)
# ------------------------
server/node_modules/
server/logs/
server/tmp/
server/pids/
server/*.pid
server/*.seed
server/*.log
server/.env
server/.env.local
server/coverage/
server/build/
server/dist/

# Database files
server/*.sqlite
server/*.sqlite3
server/*.db

# ------------------------
# React (client/)
# ------------------------
client/node_modules/
client/.env
client/.env.local
client/.cache/
client/build/
client/dist/
client/coverage/
client/.next/
client/out/

# ------------------------
# Logs & Environment
# ------------------------
logs/
*.log
*.tgz
.env
.env.local
*.env.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ------------------------
# IDE / OS
# ------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# VSCode exceptions
!.vscode/extensions.json

# Windows/Visual Studio
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
